<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-light shadow">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-dark fw-bold" href="#">
                <img src="/images/anh the.png" alt="Logo" class="me-2" 
                     style="height: 60px; width: auto;"> <!-- ⚡ to logo -->
                Nguyen Thi Thanh Nguyen
            </a>
        </div>
    </nav>
</div>
</body>
</html>
